@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #050608;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  * {
    @apply border-white/10;
  }
}

.pb-safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
